.additional-card-description-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $special-dark-grey;
}

//.additional-card-description-item__title {}

//.additional-card-description-item__date {}
