.button {
  font-family: $second-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  color: $basic-white;
}

.button--show {
  background-color: $basic-grey;
  color: $special-dark-grey;
}
