.card-description-item {
  font-size: 12px;
  line-height: 133%;
  color: $special-dark-grey;
}

.card-description-item__title {
  text-align: center;
}

.card-description-item__date {
  text-align: center;
}
