.cat-programs {
  background-color: $basic-white;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.cat-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.cat-programs__list-item {
  position: relative;
  padding: 30px 33px 22px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 61px 59px 53px;
  }
}

.cat-programs__list-item:last-child {
  @media (min-width: $desktop-width) {
    padding-right: 67px;
  }
}

.cat-programs__list-item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 92px;
    left: 445px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.cat-programs__list-item--slim::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-program-slim");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 475px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.cat-programs__list-item--pro::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 12px;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#cat-program-pro");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 135px;
    left: 411px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.cat-programs__item-title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 1px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.cat-programs__item-content {
  position: relative;
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.cat-programs__item-content::after {
  content: "";
  position: absolute;
  top: 113px;
  left: 0;
  width: 240px;
  box-shadow: 0 0 0 1 #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-programs__item-link {
  position: relative;
  display: block;
  padding-right: 94px;
  font-family: $second-family;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-right: 176px;
    font-size: 20px;
    line-height: normal;
  }
}

.cat-programs__item-link-pro {
  padding-right: 88px;

  @media (min-width: $tablet-width) {
    padding-right: 179px;
  }
}

.cat-programs__item-link-slim::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 101px;
  width: 32px;
  height: 10px;
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#cat-program-arrow");
  mask-size: 32px 12px;
  mask-position: left;
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 132px;
  }

  @media (min-width: $desktop-width) {
    bottom: 64px;
  }
}

.cat-programs__item-link-pro::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 97px;
  width: 32px;
  height: 10px;
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#cat-program-arrow");
  mask-size: 34px 12px;
  mask-position: left;
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 129px;
  }

  @media (min-width: $desktop-width) {
    bottom: 64px;
  }
}
