.catalog-product {
  background-color: $basic-white;
  color: $basic-black;
}

// .catalog-product__wrapper {}

.catalog-product__cards {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .catalog-product__card {}
