.catalog-product-card {
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 37px;
  }
}

.catalog-product-card--last {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 50px 37px 40px;
  }
}

.catalog-product-card__link-image {
  display: block;
  grid-column: 1/1;
  grid-row: 1/3;
  place-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    grid-row: 1/1;
  }
}

.catalog-product-card__link-image--last {
  grid-column: 1;
  grid-row: 1/1;
  display: block;
  padding-top: 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1/1;
    padding-bottom: 50px;
  }
}

.catalog-product-card__image-wrapper {
  display: block;
  width: 68px;
  height: 86px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }
}

.catalog-product-card__image-show {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog-product-card__link-title {
  grid-column: 2/2;
  grid-row: 1/1;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    grid-row: 2/2;
    place-self: center;
    padding-left: 58px;
    padding-right: 57px;
  }
}

.catalog-product-card__link-title--last {
  grid-column: 1;
  grid-row: 2/2;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    grid-row: 2/2;
    place-self: center;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-product-card__title {
  margin: 0;
  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-product-card__text {
  margin: 0;
  grid-column: 1;
  grid-row: 4/4;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    place-self: center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-product-card__description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 2/2;
  grid-row: 2/2;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    grid-row: 4/4;
  }
}

// .catalog-product-card__description-item {}

.catalog-product-card__order {
  grid-column: 1/-1;
  grid-row: 4/4;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    grid-row: 6/6;
  }
}

.catalog-product-card__show--last {
  grid-column: 1;
  grid-row: 6/6;

  // @media (min-width: $tablet-width) {}
}

// .catalog-product-card__show {}
