.description-cat-programs {
  background-color: $basic-white;
  color: $basic-black;
}

//.description-cat-programs__wrapper {}

.description-cat-programs__title {
  margin: 0;
  line-height: 40px;
  text-align: left;
}

.description-cat-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-cat-programs__list-item {
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.description-cat-programs__list-item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-position: center;
  background-repeat: no-repeat;
}

.description-cat-programs__list-item--one::before {
  background-image: url("../../icons/icon-leaf.svg");
  background-size: 30px 32px;
}

.description-cat-programs__list-item--two::before {
  background-image: url("../../icons/icon-powder.svg");
  background-size: 27px 29px;
}

.description-cat-programs__list-item--three::before {
  background-image: url("../../icons/icon-eat.svg");
  background-size: 25px 30px;
}

.description-cat-programs__list-item--four::before {
  background-image: url("../../icons/icon-mass.svg");
  background-size: 27px 31px;
}

.description-cat-programs__content {
  margin: 0;
}
