.description-cat-programs {
  padding-top: 20px;
  padding-bottom: 37px;
  background-color: $basic-white;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.description-cat-programs__title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 40px;
  line-height: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    line-height: 60px;
  }
}

.description-cat-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    flex-flow: row wrap;
    gap: 35px 135px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.description-cat-programs__list-item {
  position: relative;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 249px;
    margin: 0;
    padding: 152px 0 57px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 151px 0 57px;
  }
}

.description-cat-programs__list-item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -80px;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 41px;
    left: 0;
  }
}

.description-cat-programs__list-item-one {
  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#description-bg-1");
    background-size: 71px 253px;
    background-position: 126px 28px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding-right: 26px;
    margin-right: 94px;
  }
}

.description-cat-programs__list-item-one::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.description-cat-programs__list-item-two {
  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#description-bg-2");
    background-size: 112px 243px;
    background-position: 123px 32px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    padding-right: 22px;
    margin-right: 79px;
  }
}

.description-cat-programs__list-item-two::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 27px 29px;
}

.description-cat-programs__list-item-three {
  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#description-bg-3");
    background-size: 112px 243px;
    background-position: 123px 32px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    padding-right: 41px;
    margin-right: 77px;
  }
}

.description-cat-programs__list-item-three::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}

.description-cat-programs__list-item-four {
  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#description-bg-4");
    background-size: 121px 243px;
    background-position: 125px 32px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.description-cat-programs__content span {
  display: inline-block;
  margin-left: 1px;
}

.description-cat-programs__list-item-four::before {
  background-image: url("../../icons/stack.svg#icon-mass");
  background-size: 27px 31px;
}

.description-cat-programs__content {
  margin: 0;
}
