.developer-contact {
  font-size: 16px;
  line-height: 20px;
}

.developer-contact__link {
  color: $special-dark-grey;
}

// .developer-contact__name-developer {}

// .developer-contact__logo-developer {}
