.hero {
  width: 100%;
  background-color: $basic-white;
  color: $basic-black;
}

.hero__inner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index/hero-mobile-bg@2x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 320px 302px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 65px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    grid-template-columns: 557px 557px 1fr;
    grid-template-rows: 59px 29px 81px 120px 40px 20px 52px 54px 184px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index/hero-desktop-bg@1x.jpg");
    background-position: top right;
    background-size: 720px 694px;
    background-repeat: no-repeat;
  }
}

.hero__title {
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 416px;
    margin-top: 0;
    margin-left: 90px;
    margin-bottom: 40px;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    grid-area: 4/1/-1/2;
    margin-left: 190px;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 27px;
  font-family: $second-family;
  font-size: 14px;
  line-height: 14px;
  grid-column: 1/-1;
  grid-row: 2;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 283px;
    margin-left: 90px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    grid-area: 6/1;
  }
}

.hero__image-wrapper {
  display: block;
  width: 280px;
  height: auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 709px;
    margin-top: -50px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    margin-top: 0;
    grid-area: 3/2/9/3;
  }
}

.hero__image {
  display: block;
}

.hero__link-programs {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 242px;
    margin-left: 90px;
    grid-column: 1/-1;
    grid-row: 3/3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    grid-area: 8/1/8/-1;
  }
}

/* @media (min-width: $desktop-width) {
  .hero {
    padding: 0;
  }

  .hero--grid {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .hero__inner {
    max-width: 1440px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 557px 1fr 1fr;
    grid-template-rows: 344px auto auto;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index/hero-desktop-bg@1x.jpg");
    background-position: top right;
    background-size: 720px 694px;
    background-repeat: no-repeat;
  }

  .hero__title {
    grid-column: 1;
    grid-row: 1;
    margin-top: 224px;
    margin-left: 190px;
    margin-bottom: 0;
  }

  .hero__slogan {
    grid-column: 1;
    grid-row: 2;
    margin-top: 40px;
    margin-left: 190px;
    margin-bottom: 0;
  }

  .hero__link-programs {
    position: static;
    grid-column: 1;
    grid-row: 3;
    margin-top: 52px;
    margin-left: 190px;
    margin-bottom: 184px;
  }

  .hero__image {
    grid-column: 2;
    margin-top: 143px;
  }
} */
