.main-header {
  color: $basic-black;
  background-color: $basic-white;
}

// .main-header__container {}

// .main-header__nav {}

.main-header__button {
  padding: 0;
  width: 24px;
  height: 24px;
}
