.main-header {
  padding-top: 13px;
  padding-bottom: 20px;
  color: $basic-black;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }
}

.main-header__container {
  position: relative;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {

    //padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    //padding-top: 55px;
  }
}

.main-header__nav {
  @media (min-width: $tablet-width) {
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
  }
}

.main-header__button {
  position: absolute;
  top: 7px;
  right: 21px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__hero {
  // display: grid;
  // justify-content: center;

  //@media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    margin-top: -118px;
    padding-bottom: 82px;
  }
}
