.main-header {
  padding-top: 13px;
  color: $basic-black;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    //padding-bottom: 82px;
  }
}

.main-header__container {
  position: relative;
}

.main-header__nav {
  position: relative;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    //margin-right: 3px;
    display: flex;
    gap: 94px;
  }

  @media (min-width: $desktop-width) {
    gap: 538px;
  }
}

.main-header__button {
  position: absolute;
  top: 7px;
  right: 21px;
  background-image: url("../../icons/stack.svg#logo-button-open");
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--close {
    top: 5px;
    right: 17px;
    background-image: url("../../icons/stack.svg#logo-button-close");
    background-size: 20px 24px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/*.main-header__hero {
  // display: grid;
  // justify-content: center;

  //@media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    margin-top: -114px;
  }
}*/
