.page-footer {
  padding: 40px 0;
  background-color: $basic-grey;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.page-footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 23px 23px auto;
  place-items: center;
  gap: 40px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto max-content 160px max-content 126px max-content auto;
    grid-template-rows: 37px;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 128px 416px 132px 378px 168px auto;
  }
}

.page-footer__logo {
  grid-row: 1/1;

  @media (min-width: $tablet-width) {
    grid-row: 1/1;
    grid-column: 2/2;
  }
}

.page-footer__container::before {
  content: "";
  position: absolute;
  top: 44px;
  left: 20px;
  width: 280px;
  box-shadow: 0 0 0 1 #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-footer__container::after {
  content: "";
  position: absolute;
  bottom: 54px;
  right: 20px;
  width: 280px;
  box-shadow: 0 0 0 1 #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-footer__logo-text {
  display: block;
  width: 128px;
  height: 27px;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-row: 2/2;
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  gap: 24px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 4/4;
    grid-row: 1/1;
  }
}

.page-footer__social-list-item {
  width: 28px;
  height: 22px;
}

.page-footer__developer-contact {
  grid-row: 3/3;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 6/6;
    grid-row: 1/1;
    width: 163px;
    height: 37px;
  }
}

.page-footer__name-developer {
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  letter-spacing: 0.3px;
}

.page-footer__logo-developer use {
  display: block;
  width: 27px;
  height: 34px;
}
