.page-footer {
  background-color: $basic-grey;
  color: $basic-black;
}

// .page-footer__logo {}

// .page-footer__logo-text {}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .page-footer__social-list-item {}

// .page-footer__developer-contact {}
