.role-model-date-container {
  border-radius: 3px;
  box-shadow: 0 0 0 1px $special-grey;
  text-align: center;
}

.role-model-date-container__date {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 16px;
  font-family: $second-family;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.role-model-date-container__description {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding-left: 16px;
  padding-right: 19px;
  font-size: 12px;
  line-height: 12px;
  overflow-wrap: break-word;
  color: $special-dark-grey;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.role-model-date-container__description-mass {
  width: 90px;
  height: 24px;
  background-color: #eaeaea;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 116px;
    height: 14px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: -8px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.role-model-date-container__description-time {
  width: 93px;
  height: 24px;
  overflow: hidden;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 14px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: -8px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}
