.role-model-inner-date-container {
  line-height: 100%;
  text-align: center;
}

.role-model-inner-date-container__date {
  margin: 0;
  font-family: $second-family;
  font-size: 24px;
}

.role-model-inner-date-container__description {
  margin: 0;
  font-size: 12px;
  color: $special-dark-grey;
}

.role-model-inner-date-container__price-description,
.role-model-inner-date-container__price-total-sum {
  margin: 0;
  display: inline;
  font-family: $second-family;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
}
