.subscribe {
  padding-bottom: 40px;
  background-color: $basic-white;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

.subscribe::before {
  content: "";
  width: 100%;
  display: block;
  position: relative;
  top: 52px;
  left: 212px;
  box-shadow: 0 0 0 2px $basic-green;

  @media (min-width: $tablet-width) {
    width: 110%;
    top: 15px;
    left: -30px;
  }

  @media (min-width: $desktop-width) {
    top: 19px;
  }
}

.subscribe__title {
  position: relative;
  margin: 0;
  max-width: 192px;
  padding-top: 41px;
  padding-right: 40px;
  padding-bottom: 32px;
  text-align: left;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    max-width: 282px;
    padding-top: 0;
    padding-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 333px;
    margin-left: -40px;
    padding-bottom: 72px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 20px;
    position: absolute;
    top: 45px;
    left: -60px;
    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.subscribe__content {
  margin: 0;
  margin-bottom: 24px;
  font-family: $second-family;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    flex-direction: row;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 496px 256px;
    padding: 0 234px;
  }
}
